.footer{
    color:whitesmoke;
}
li{
    float:left;
}

.footer ul{
    display:flex;
    place-content: center;
}
.footer li{
    margin: 10px;
}
@media screen and (max-width: 480px){
    .footer li{
        margin-left:1rem;
        margin-right: 1rem;
    }
}