.production{
    background-image: url(../assets/pexels-amin-asbaghipour-3710191.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:aliceblue;
}
.studio{
    background-image: url(../assets/6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:bisque;
} 

.studio .btn,.class .btn, .book .btn, .production .btn{
    color:whitesmoke;
}
.studio .btn:hover, .book .btn:hover, .production .btn:hover{
    background-color: transparent;
    color:black;
}
.alternative .btn {
    background-color:black;
    color:whitesmoke;
}
.class .btn:hover{
    background-color: whitesmoke;
    color:black;
}

.class{
    background-color: whitesmoke;
}
.book{
    background-color: whitesmoke;
}
.left{
    display: block;
    text-align: left;
    background-image: url(../assets/10.jpeg);
    color: whitesmoke;
    font-weight: bolder;
}
form{
    width:60%;
    margin-left:20%;
}

@media screen and (max-width:480px) {
    form{
        width:100%;
        margin:0;
    }
    
}
.comments{
    text-align: center;
    float: right;
    font-weight:bolder;
}
.comments h3{
    color:black;
}
.comments p{
    color:aliceblue;
}
.navbar{
    color:whitesmoke;
}
.navbar li a{
    color:whitesmoke;
}
.navbar li a:hover{
    color:black;
    background-color: whitesmoke;
}
.active{
   color:goldenrod;
}