.production{
    background-image: url(../assets/pexels-amin-asbaghipour-3710191.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:aliceblue;
}
.studio{
    background-image: url(../assets/6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:bisque;
} 

.studio .btn,.class .btn, .book .btn, .production .btn{
    color:goldenrod;
}
.studio .btn:hover,.class .btn:hover, .book .btn:hover, .production .btn:hover{
    background-color: goldenrod;
    color:aliceblue;
}

.class{
    background-color: aliceblue;
}
.book{
    background-color: aliceblue;
}
.left{
    display: block;
    text-align: left;
    background-image: url(../assets/1.jpeg);
    backdrop-filter:var(60%);
    color: goldenrod;
    font-weight: bold;
}
form{
    width:60%;
    margin-left:20%;
}

@media screen and (max-width:480px) {
    form{
        width:100%;
        margin:0;
    }
    
}
.comments{
    color:turquoise;
    text-align: center;
    float: right;
}